LOCAL=true
DEBUG_I18N=false
DISABLE_SETTINGS=false
UA_STRING="gh:WentTheFox/Fantastick"
DISCORD_INVITE_URL="https://discord.gg/#example-invite-url"
DATABASE_URL="postgresql://username:password@127.0.0.1:5432/fantastick?schema=public"
SHADOW_DATABASE_URL="postgresql://username:password@127.0.0.1:5432/fantastick_shadow?schema=public"

# Discord API
DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_FEED_WEBHOOK_URL=

# Telegram API
TELEGRAM_BOT_TOKEN=

# Upload API
UPLOAD_API_HOST=http://example.com
UPLOAD_KEY=example-key
UPLOAD_API_DOMAIN=example.com
