LOCAL=true
DEBUG_I18N=false
DISABLE_SETTINGS=false
UA_STRING="gh:WentTheFox/StickerBot"
DISCORD_INVITE_URL="https://discord.gg/#example-invite-url"

# Discord API
DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
